SECRET_KEY=ваш_секретный_ключ

DEBUG=True

DATABASE_NAME=your_db_name
DATABASE_USER=your_db_user
DATABASE_PASSWORD=your_db_password
DATABASE_HOST=localhost
DATABASE_PORT=5432

# Настройки SMTP-сервера
EMAIL_HOST=smtp.exsample.com  # Например: smtp.gmail.com, smtp.mail.ru, smtp.yandex.ru
EMAIL_PORT=your_smtp_port     # Порт SMTP (обычно 587 для TLS, 465 для SSL)
EMAIL_USE_TLS=False        # Использовать TLS
EMAIL_USE_SSL=True        # Использовать SSL
EMAIL_HOST_USER=your_email@example.com    # Ваш email для авторизации на SMTP
EMAIL_HOST_PASSWORD=your_password    # Пароль или app-specific пароль для SMTP

# Настройка для Redis
# Redis cache configuration (Django Redis Cache)
# Format: redis://[:password@]host[:port][/db-number]
# Example without password: redis://localhost:6379/0
# Example with password: redis://:yourpassword@redis.example.com:6379/1
LOCATION=redis://localhost:6379/0

# Токен для телеграм-сервисов
TELEGRAM_BOT_TOKEN=your_telegram_token